nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, rgb(7, 78, 54), rgb(6, 6, 37));
}

.navbar {
  background: linear-gradient(-0160deg, rgb(7, 78, 54), rgb(6, 6, 37));
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
}

.header {
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
  color: aliceblue;
  text-decoration: none;
  height: px;
}

.nav-menu {
  z-index: 9990;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: start;
  position: fixed;
  left: -100%;
  transition: 800ms;
  margin-top: 43px;
}

.nav-menu.active {
  left: 0;
  transition: 200ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* top, right, bottom, left */
  padding: 50px 0px 15px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: aliceblue;
  font-size: large;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-radius: 4px;
}

.nav-text a:hover {
  background: white;
  color: lightgreen;
  font-weight: bold;
  font-style: italic;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
}

span {
  margin-left: 16px;
}
