.navbar {
  background-color: black;
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
}

.header {
  font-size: 1.1rem;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.2rem;
  background: none;
  color: aliceblue;
  text-decoration: none;
  height: px;
}

.nav-menu {
  z-index: 9999;
  background-color: black;
  width: 220px;
  height: 100vh;
  /* together  */
  display: flex;
  justify-content: start;
  /*  */
  position: fixed;
  /* top: 0; */
  left: -100%;
  transition: 800ms;
}

.nav-menu.active {
  left: 0;
  transition: 200ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  /* top, right, bottom, left */
  padding: 8px 0px 15px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: aliceblue;
  font-size: large;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
}

span {
  margin-left: 16px;
}
