.project_section {
  /* min-height: 100px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.container_project {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 550px;
  height: 400px;
  background: center / cover;
  border-style: solid;
  border-color: rgb(224, 221, 221);
  border-radius: 8px;
}

/* .left img:hover {
  transform: scale(1.08);
} */

.right {
  width: 80%;
  min-height: 100px;
  background-color: rgb(2, 41, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin: -120px;
  color: white;
  font-weight: lighter;
  z-index: 10;
}

.right h1 {
  font-size: 30px;
}

.right p {
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .container_project {
    flex-direction: column;
    width: 90%;
  }

  .left img {
    width: 100%;
    margin-top: 100px;
  }

  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}
