@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.section_title {
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  text-align: center;
  background: url("https://i.pinimg.com/originals/a3/cf/90/a3cf9014985567b3a4455768e41f80dd.jpg")
    no-repeat;
  background-size: 100% 150%;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: rgb(6, 90, 58);
  margin-left: auto;
  margin-right: auto;
}

.signup {
  display: flex;
  /* height: 10vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.row_content {
  border-style: outset;
  margin: 20px 0 80px 0;
}

.ImgTitle {
  width: 150px;
  /* height: 50px; */
  margin: 35px 0px 20px 30px;
}

.image-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
}

.image-grid p {
  text-align: center;
  font-style: oblique;
  margin-top: -15px;
  font-weight: bolder;
  background-color: rgb(122, 253, 253);
  width: 75%;
}

.image-individual:hover {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  max-width: 100%;
  top: 2%;
  left: 20%;
  transform: translate(-5%, 0%);
  background: white;
  padding: 5px 5px 5px 5px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
}

.preview-box .image-box {
  display: flex;
  width: 100%;
  z-index: 9999;
}

.preview-box .image-box img {
  width: 100%;
  max-height: 600px;
  border-style: double;
}

.preview-box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .title {
  display: flex;
}

.details .icon {
  font-size: 1.5rem;
  cursor: pointer;
}
