@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.signup {
  display: flex;
  /* height: 10vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.slider {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 60px 0px;
}

.myImg {
  margin-top: 30px;
  width: 900px;
  height: 550px;
  border-radius: 10px;
}

.myImg:hover {
  transition-duration: 0.75s;
  transform: scale(1.1);
}

.right-arrow {
  z-index: 10;
  position: absolute;
  /* top: 50%; */
  right: 150px;
  font-size: 5rem;
  color: lightgray;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover,
.left-arrow:hover {
  color: black;
}

.left-arrow {
  z-index: 10;
  position: absolute;
  /* top: 50%; */
  left: 150px;
  font-size: 5rem;
  color: lightgray;
  cursor: pointer;
  user-select: none;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.row_content {
  border-style: outset;
  margin: 20px 0 80px 0;
}

.ImgTitle {
  width: 150px;
  /* height: 50px; */
  margin: 35px 0px 20px 30px;
}

.image-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
}

.image-grid p {
  text-align: center;
  font-style: oblique;
  margin-top: -15px;
  font-weight: bolder;
  background-color: rgb(122, 253, 253);
  width: 75%;
}

.image-individual:hover {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  max-width: 1050px;
  top: 2%;
  left: 20%;
  transform: translate(-5%, 0%);
  background: white;
  padding: 5px 5px 5px 5px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
}

.preview-box .image-box {
  display: flex;
  width: 100%;
}

.preview-box .image-box img {
  width: 1000px;
  max-height: 600px;
  border-style: double;
}

.preview-box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .title {
  display: flex;
}

.details .icon {
  font-size: 1.5rem;
  cursor: pointer;
}
